.gridWrapper {
  background-color: #ffffff;
}

.grid {
  top: 64px;
}

.cartContainer {
  display: none;
}

.cartDescription {
  display: none;
}

.checkoutContainer {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .gridWrapper {
    padding: 32px 40px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 24px;
    top: 52px;
  }

  .cartDescription {
    display: block;
  }

  .checkoutContainer,
  .footer {
    display: none;
  }
}
