.header {
    background-color: var(--nav-background);
    width: 100%;
    padding: 18px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.pageTitle {
    display: block;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-align: center;
    color: #FFFFFF;
}